.spot_details_div {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.spot_details_info_div {
    display: flex;
    flex-direction: column;
}

.spot_details_images_div {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}

.spot_details_images_previewImage {
    width: 50%;
    height: 412px;
    object-fit: cover;
}

.spot_details_images_spotImages_div {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.spot_details_images_spotImage {
    width: 50%;
    height: 205px;
    object-fit: cover;
}

.spot_details_spot_info_div {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    justify-content: space-between;
}

.spot_details_spot_info_host_description_div {
    max-width: 75%;
}

.spot_details_callout_info_box {
    width: 33%;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.callout_box_price_reviews {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.spot_details_callout_info_box_price {
    font-size: 18pt;
    font-weight: bold;
}

.spot_details_callout_info_box_night {
    font-size: 12pt;
    font-weight: normal;
}

.spot_details_callout_info_box_register_button {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px #999;
    background-color: #FF5A5F;
    color: #FFFFFF;
}

.spot_details_callout_info_box_register_button:hover {
    background-color: #ff8488;
}

.spot_details_host_details {
    font-size: 18pt;
    font-weight: bold;
}

.spot_details_description {
    font-size: 14pt;
    font-weight: normal;
    line-height: 1.5em;
}

.review_summary {
    display: flex;
    align-items: center;
}

.spot_details_post_review_button_div {
    width: fit-content;
}

.review_summary > .review_summary_rating_and_number {
    margin: 0 5px;
}

.spot_details_reviews_div > .review_summary {
    font-size: 24pt;
    margin-bottom: 10px;
}
