/*TODO: ADD STYLING FOR SPOT TILES*/

.spot_tile_wrapper {
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    font-family: sans-serif;
}

.spot_tile_wrapper * {
    text-decoration: none;
}

.spot_tile {
    margin: 5px;
    width: 100%;
}

.spot_tile_img {
    width: 100%;
    display: block;
    border-radius: 15px;
    object-fit: contain;
}

.spot_tile_details_div {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
}

.spot_tile_spot_location_and_price_div {
    display: flex;
    flex-direction: column;
}

.spot_tile_spot_location {
    align-self: flex-start;
    margin-bottom: 10px;
}

.spot_tile_avg_stars {
    align-self: flex-start;
}
