/*TODO: ADD STYLING FOR SPOT TILES*/
.spot_tile_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.spot_tile {
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.spot_tile_img {
    border-radius: 10%;
    object-fit: contain;
}

.spot_tile_details_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.spot_tile_avg_stars {
    align-self: center;
}

/* .spot_tile_avg_start {
    margin: 0px 5px;
}

.spot_tile_price {
    margin: 0px 5px;
} */
