/* TODO: Add styling for Add Spot Form*/
.add_spot_form {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    font-family: sans-serif;
}

.form_block {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #999;
    padding-bottom: 5px;
    width: 100%;
}

.add_spot_location_div {
    display: flex;
    flex-direction: column;
}

.add_spot_form_location_input {
    display: flex;
    flex-direction: column;
}

.add_spot_form_city_state_div {
    display: flex;
}

.add_spot_form_location_city_state_div {
    display: flex;
    flex-direction: column;
}

.add_spot_form_lat_lng {
    display: flex;
}


.form_prompt_title {
    font-size: 14pt;
    font-weight: bold;
    margin-top: 15px;
}

.form_prompt {
    font-size: 12pt;
    line-height: 1.5rem;;
}

.add_spot_form_description_div {
    border-bottom: 2px solid #999;
}

.add_spot_form_description_textarea {
    width: 100%;
    height: 15vh;
    font-family: sans-serif;
}

.add_spot_form_submit_button {
    margin: 0 auto;
    width: 25%;
    padding: 15px;
    text-align: center;
    border: 2px solid black;
    background-color: #FF5A5F;
    box-shadow: 3px 3px black;
    color: #FFFFFF;
}

.error {
    color: #FF5A5F;
    font-size: 10pt;
    font-weight: bold;
}
