.open_modal_button {
    cursor: pointer;
    text-align: center;
    border: 2px solid black;
    background-color: #FF5A5F;
    box-shadow: 2px 2px #999;
    color: #FFFFFF;
}

.open_modal_button:hover {
    background-color: #fe8589;
}
