.rdrDateRangeWrapper {
    position: absolute;
    right: 0;
    top: 80%;
    border: 2px solid black;
    border-radius: 1rem;
}

.rdrDateDisplayWrapper {
    border-radius: 1rem;
}

.date-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .5em;
    margin-top: .5em;
}

.date-div {
    flex: 1;
    border: 1px solid black;
    border-radius: 1em;
    padding: 1em;
}
