.reservation-summary-container {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.reservation-summary-preview-image {
    object-fit: fill;
    height: 100px;
    width: 100px;
    border-radius: 1rem;
}

.reservation-summary-spot-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
}
