/* TODO: ADD STYLING FOR MANAGE SPOTS PAGE */
.manage_spots_title{
    font-family: sans-serif;
}

.user_spot_tile_wrapper {
    margin: 15px auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    font-family: sans-serif;
}

.user_spot_tile_management_div {
    display: flex;
    justify-content: space-evenly;
}

.spot_name_star_review_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.user_spot_tile_link {
    text-decoration: none;
    color: black;
}

.user_spot_tile_reviews_management_div {
    display: flex;
    justify-content: space-between;
}

.user_spot_tile_update_button,
.manage_spots_create_new_spot_button {
    cursor: pointer;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #FF5A5F;
    box-shadow: 2px 2px #999;
    color: #FFFFFF;
    min-width: 75px;
    padding: 5px;
    margin-right: 5px;
}

.user_spot_tile_update_button:hover,
.manage_spots_create_new_spot_button:hover {
    background-color: #ff8488;
}

.manage_user_spot_button_container {
    cursor: pointer;
    min-width: 75px;
}
