/* TODO: ADD STYLING FOR MANAGE SPOTS PAGE */

.manage_spots_title {
    font-family: sans-serif;
}

/* .button {
    border: 2px solid black;
    background-color: #FF5A5F;
    box-shadow: 3px 3px black;
    color: #FFFFFF;
} */

/* .button:hover {
    background-color: #fd7b7f;
} */

.manage_spots_spot_tiles_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
