/* TODO: Add styling for Navigation component
    * Google Fonts
*/
.nav_links_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    border-bottom: 2px solid #CCC;
}

.header_title {
    color: #FF5A5F;
    font-size: 24pt;
    font-weight: bold;
    font-family: sans-serif;
}

.home_link {
    color: #FF5A5F;
    text-decoration: none;
    display: flex;
}

.add_spot_button {
    border: none;
    background: white;
    color: #FF5A5F;
}

.profile_menu_button {
    color: #FF5A5F;
    border: none;
    background-color: white;
    height: 50px;
    width: 50px;
}

.profile-dropdown {
    list-style: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70px;
    right: 50px;
    z-index: 1;
    background-color: white;
    border: 1px solid #999999;
    box-shadow: 2px 2px 2px #999999;
    border-radius: 5px;
    width: 10%;
    padding: 5px;
}

.profile_menu_greeting_div {
    margin: 5px auto;
    border-bottom: 1px solid #999999;
}

.profile_menu_management_div {
    margin: 5px auto;
    border-bottom: 1px solid #999999;
}

.profile-dropdown li {
    margin: 5px 0px;
}

.logout_button_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.manage_spots_button {
    border: none;
    background-color: white;
}

.logout_button {
    width: 100%;
    padding: 5px;
}

.modal_button_wrapper {
    margin: 5px;
}

.hidden {
    display: none
}
