/* TODO: Add styling for Navigation component
    * Google Fonts
*/
.nav_links_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    border-bottom: 2px solid #CCC;
}

.header_title {
    font-size: 14pt;
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 5px;
}

.home_link {
    color: #FF5A5F;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home_link:hover {
    color:  #ff8488;
}

.add_spot_button {
    border: none;
    background: white;
    color: #FF5A5F;
    font-weight: bold;
    font-size: 12pt;
    cursor: pointer;
}

.add_spot_button:hover {
    color:  #ff8488;
}

.profile_button_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile_menu_button {
    box-sizing: border-box;
    cursor: pointer;
    color: #FF5A5F;
    border: none;
    background-color: white;
    display: inline;
    width: fit-content;
    border: 1px solid #FF5A5F;
    border-radius: 20px;
    margin: 0 5px;
    padding: 5px 10px;
}

.profile_menu_button:hover {
    color: #ff8488;
}

.profile_icon {
    margin-left: 5px;
    font-size: 15pt;
}

.profile-dropdown {
    list-style: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70px;
    right: 50px;
    z-index: 1;
    background-color: white;
    border: 1px solid #999999;
    box-shadow: 2px 2px 2px #999999;
    border-radius: 5px;
    width: fit-content;
    padding: 15px;
}

.profile_menu_greeting_div {
    margin: 5px auto;
    border-bottom: 1px solid #999999;
}

.profile_menu_management_div,
.logout_button_wrapper
 {
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.profile_menu_management_div {
    border-bottom: 1px solid #999999;

}

.profile-dropdown li {
    margin: 5px 0px;
}

.manage_button {
    border: 1px solid black;
    border-radius: 15px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    width: 100%;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.manage_button:hover {
    background-color: #ff8488;
}

.hidden {
    display: none
}
